* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Ubuntu", sans-serif;
	background-color: #333;
	overflow: hidden;
}

.card {
	position: relative;
	width: 800px;
	height: 400px;
	border-radius: 15px;
	overflow: hidden;
	animation: card 3s;
}

@keyframes card {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bg-img {
	background-image: url(../img/nature-3091991_1280.jpg);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.girl {
	position: absolute;
	right: 0;
	bottom: -400px;
	width: 500px;
	animation: move 3s;
	animation-fill-mode: forwards;
}

@keyframes move {
	0% {
		bottom: -400px;
		opacity: 0;
	}
	50% {
		bottom: 0px;
		opacity: 1;
	}
	100% {
		bottom: 0px;
		opacity: 1;
	}
}

.boar {
	position: absolute;
	bottom: 0;
	left: -300px;
	background-image: url(../img/boar-6536924_1280.png);
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	animation: boar 2s ease-out 1s normal forwards;
	// animation-fill-mode: forwards;
	// animation-timing-function: ease-out;
}

@keyframes boar {
	0% {
		left: -300px;
		opacity: 0;
	}
	80% {
		left: -30px;
		opacity: 1;
	}
	100% {
		left: 80px;
		opacity: 1;
	}
}

h1 {
	position: absolute;
	top: 60px;
	left: 60px;
	text-transform: uppercase;
	font-size: 0;
}

h1 span {
	display: inline-block;
	font-size: 36px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	animation: welcome 2s 1s linear forwards;
	opacity: 0;
}

h1 span:nth-child(2){
	animation-delay: 1s;
}
h1 span:nth-child(3){
	animation-delay: 1.3s;
}
h1 span:nth-child(4){
	animation-delay: 1.6s;
}
h1 span:nth-child(5){
	animation-delay: 1.9s;
}
h1 span:nth-child(6){
	animation-delay: 2.2s;
}
h1 span:nth-child(7){
	animation-delay: 2.5s;
}
h1 span:nth-child(8){
	animation-delay: 2.8s;
}

@keyframes welcome {
	from {
		transform: rotateY(90deg);
		opacity: 0;
		filter: blur(15px);
	}
	to {
		transform: rotateY(0deg);
		opacity: 1;
		filter: blur(0);
	}
}
